/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary: #12C9E3
- Tints:

- Shades: #10b5cc

- Accents:
- Greys
#575E63
#7C7F94

--- 05 SHADOWS
Light - 0px 0px 20px rgba(0, 0, 0, 0.07);
Medium - 0px 0px 50px rgba(0, 0, 0, 0.07);


--- 06 BORDER-RADIUS
Default: 9px
Medium: 15px
High: 30px
--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Global Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Font-size change for Responsive layout */
html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #575e63;
}

/* Text Selection & Image dragging disabled */
.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

img,
a {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* Changing the Scrollbar style */
.scroll-container::-webkit-scrollbar {
	width: 0.3em;
	background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
	background-color: gray;
	width: 0.2em;
	height: 0.2em;
}
/****************************************/
/* GENERAL REUSABLE COMPONENTS */
/****************************************/

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.grid {
	display: grid;
	gap: 6.4rem;
}

.grid--cols-2 {
	grid-template-columns: repeat(2, 1fr);
}

.grid--cols-3 {
	grid-template-columns: repeat(3, 1fr);
}

.grid--cols-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid--cols-5 {
	grid-template-columns: repeat(5, 1fr);
}

.primary-heading {
	color: #000;
	font-size: 4.4rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin-bottom: 1.2rem;
}

.secondary-heading {
	font-size: 3.6rem;
	color: #03b9d5;
}

.small-heading {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.6;
	margin-bottom: 0.8rem;
}

.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 2rem;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	padding: 1.2rem 2.4rem;
	border-radius: 3px;
	cursor: pointer;
}
.btn--primary:link,
.btn--primary:visited {
	padding: 1.2rem 3.2rem;
	background-color: #12c9e3;
	color: #fff;
	transition: all 300ms;
}
.btn--secondary:link,
.btn--secondary:visited {
	padding: 1.2rem 3.2rem;
	background-color: #07e39c;
	color: #fff;
	transition: all 300ms;
}
.btn--primary:link:hover,
.btn--primary:visited:hover {
	background-color: #0ea1b6;
}
.btn--secondary:link:hover,
.btn--secondary:visited:hover {
	background-color: #06b67d;
}
.btn--outlined:link,
.btn--outlined:visited {
	border: 2px solid #575e63;
	border-radius: 20px;
	color: #575e63;
	transition: all 300ms;
}
.btn--outlined:link:hover,
.btn--outlined:visited:hover {
	background-color: #575e63;
	color: #fff;
}
.btn--capsule:link,
.btn--capsule:visited {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	border-radius: 30px;
}

.action-btn {
	font-size: 2rem;
	font-weight: 500;
	padding: 1.2rem 2.4rem;
	border-radius: 30px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}
.primary-action-btn {
	background-color: #12c9e3;
	color: #fff;
}
.margin-right-sm {
	margin-right: 1.6rem;
}

/****************************************/
/* HEADER SECTION */
/****************************************/
.header {
	position: sticky;
	top: 0;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(20px);
	z-index: 500;
}
.header-container {
	max-width: 130rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9.6rem;
	padding: 0 4.8rem;
}

/****************************************/
/* NAVIGATION SECTION */
/****************************************/
.main-nav {
	position: relative;
	perspective: 600px;
}

.main-nav-list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 30px 20px;
	cursor: default;
}

.main-nav-list .main-nav-list-item {
	position: relative;
	display: flex;
	justify-content: center;
	border-bottom: 3px solid transparent;
	transition: all 0.3s ease-in-out;
}

.main-nav-list .main-nav-list-item::after {
	position: absolute;
	bottom: 10px;
	left: 0;
	content: "";
	display: block;
	width: 0;
	height: 3px;
	background: #12c9e3;
	transition: all 300ms;
}

.main-nav-list li:hover::after {
	width: 100%;
}

/* .main-nav-list-item:hover .main-nav-dropdown {
	display: block;
} */
.dropdown {
	min-width: 25rem;
	list-style: none;
	opacity: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	padding: 20px;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	will-change: opacity;
}
.dropdown li {
	margin-bottom: 1.2rem;
}
.dropdown li:last-child {
	margin-bottom: 0;
}
.dropdown-nav-link:link,
.dropdown-nav-link:visited {
	display: inline-block;
	font-size: 1.4rem;
	text-decoration: none;
	color: #000;
	margin-bottom: 0.4rem;
}

.dropdown-nav-link:hover {
	color: #03b9d5;
}
.dropdown-nav-link-summary {
	font-size: 1.2rem;
	line-height: 1.4;
	color: #575e63;
}

/*trigger events settings*/
.main-nav-list-item.trigger-enter .dropdown {
	display: block;
}

.main-nav-list-item.trigger-enter-active .dropdown {
	opacity: 1;
}

.dropdownBackground {
	max-width: 50rem;
	position: absolute;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
		0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s, opacity 0.1s, transform 0.2s;
	transform-origin: 50% 0;
	display: flex;
	justify-content: center;
	opacity: 0;
}

.dropdownBackground.open {
	opacity: 1;
}

.arrow {
	position: absolute;
	width: 15px;
	height: 15px;
	display: block;
	background: white;
	transform: translateY(-50%) rotate(45deg);
}

/****************************************/
/* FOOTER SECTION */
/****************************************/
.footer-section {
	padding: 3.2rem 0;
	background-image: url(../assets/particles.png);
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: multiply;
	position: relative;
}
.footer-overlay {
	background-color: #111212;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: -1;
}
.footer-main {
	margin-bottom: 2.4rem;
}
.about-title,
.quick-links-title,
.footer .contact-title {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	margin-bottom: 0.8rem;
	background: linear-gradient(90deg, #12c9e3 -8.23%, #006a8d 108.43%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.about-description {
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #dedede;
	margin-bottom: 2.4rem;
}
.about-btn:link,
.about-btn:visited {
	font-size: 1.8rem;
	color: #dedede;
	border: 2px solid #ffffff;
	border-radius: 30px;
}

.quick-links-list,
.footer .contact-list {
	font-size: 1.6rem;
	line-height: 1.6;
	color: #dedede;
	margin-left: 0.8rem;
	margin-bottom: 2.4rem;
	list-style: none;
}
.quick-links-list-item {
	cursor: pointer;
}
.quick-links-list-item a{
	color: #dedede;
	text-decoration: none;
}
.footer .contact-list-item {
	display: flex;
	gap: 1.2rem;
	margin-bottom: 0.8rem;
	cursor: auto;
}
.social-links-title {
	font-size: 1.8rem;
	font-weight: 500;
	color: #fff;
	margin-bottom: 1.2rem;
}
.social-links-list {
	list-style: none;
	display: flex;
	gap: 1.6rem;
}
.social-link .icon-outer {
	transition: all 300ms;
}
.youtube-link:hover .youtube-icon-outer {
	fill: #ff7d74;
}
.linkedin-link:hover .linkedin-icon-outer {
	fill: #92c9ff;
}
.twitter-link:hover .twitter-icon-outer {
	fill: #8adaff;
}
.facebook-link:hover .facebook-icon-outer {
	fill: #8eb0ff;
}
.instagram-link:hover .instagram-icon-outer {
	fill: #e1849a;
}
.copyright-text {
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	color: #fff;
}
