.contact-form-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #000;
}
.contact-form-header,
.contact-form-main {
	padding: 1.2rem 2.4rem;
}
.contact-form-title {
	font-size: 2.2rem;
	font-weight: 600;
	color: #000;
}
